# Django
django==4.2.*
mysqlclient==2.2.*
python-dotenv==1.1.*
pillow==11.2.*
reportlab==4.4.*
django-crispy-forms==2.4.*
django-filter==25.1.*
pywhatkit==5.4.*
gunicorn==21.2.*
crispy-bootstrap5==2023.10.*
